#img{
  margin-left: 200px;
  margin-top: 3px;
}


/* div {
  width: 2000px;
  height: 750px;
  overflow: auto;
}


/* wlmobiles
img{
  margin-top: 7px;
}
#reply{
  margin-left: 40px;
}
#home{
  margin-left: 40px;
}
#filter_none{
  margin-left: 50px;
}

nav{
  background-image: linear-gradient(-180deg,#64b5f6 30%,#006064 50%,#ff6f00 100%);
} */
