.p1 {
  margin-left: 250px;
}
img{
margin-left: 100px;

}
div {
  padding-left: 0px;
}
.parallax-container {
  height: "your height here";
}
.background{

  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* b{
  margin-left: 100px;
  padding: 7px 130px;
  text-align: center;
}   */


/* .login-box {
  padding-top: 35px;
}

.login-icon-large {
  font-size : 12rem;
} */
