<p class="p1">
  <img src="assets/image/w4.png" width="80px" height="55px" class="circle" alt="" id="img">
<br/>
<hr width="100%">

<!-- <div class="row">
<form class="col s12"></form>
<div class="row">
<div class="input-field col s6">
  <i class="material-icons prefix">account_circle</i>
  <input placeholder="UserCode" type="text" name="userCode" [(ngModel)]="user.userCode">



<form class="col s12"> </form>
<div class="input-field col s12">
<i class="material-icons prefix">lock</i>
<input placeholder="password" Password input type="password" name="userPwd" [(ngModel)]="user.userPwd">
<div class="input-field col s10">
   <b class="btn" (click)="doLogin()">Login</b>  -->


<!-- <div class="row">
<form class="col s12">
<div class="row">
  <div class="input-field col s6">
    <input placeholder="Placeholder" id="first_name" type="text" class="validate" name="userCode" [(ngModel)]="user.userCode">
    <label for="first_name">User</label>
  </div>
  <div class="input-field col s6">
    <input id="last_name" type="text" class="validate">
    <label for="last_name">Password</label>
  </div>
</div>
</form>
</div> -->

<!-- <div class="container login-box">
<form (ngSubmit)="doLogin()" ngNativeValidate materialize>
<div class="row login-box">
  <div class="input-field col s12 m6 offset-m3">
    <i class="material-icons prefix">account_circle</i>
    <input id="userCode" name="userCode" [(ngModel)]="user.userCode" required="required" type="text" class="validate">
    <label for="userCode">User</label>
  </div>
  <div class="input-field col s12 m6 offset-m3">
    <i class="material-icons prefix">lock</i>
    <input id="userPwd" name="userPwd" [(ngModel)]="user.userPwd" required="required"
          type="password" class="validate">
    <label for="userPwd">Password</label>
  </div>
  <button type="submit" class="col s10 offset-s1 m4 offset-m4 btn blue darken-3" >Login</button>
</div>
</form>
</div>  -->


<!-- <div class="container">
<div class="row">
  <form class="col s12 m12 l12">
    <div class="row">
      <div class="input-field col s10">
        <i class="material-icons prefix">account_circle</i>
        <input placeholder="UserCode" type="text" name="userCode" [(ngModel)]="user.userCode">
</div>
</div>
<div class="row">
<div class="input-field col s10">
    <i class="material-icons prefix">lock</i>
    <input placeholder="password" Password input type="password" name="userPwd" [(ngModel)]="user.userPwd">
</div>
</div>
<div class="container">
<div class="row">
  <div class="col s12 m12 l12 center-align">
        <button class="btn cyan darken-1">login</button>
  </div>
</div>
</div> -->





<div class="container">
<div class="section"></div>
  <div class="section"></div>
  <div class="container">
    <div class="z-depth-1 blue-grey darken-1 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      <form class="col s12" (ngSubmit)="doLogin()">
          <img src="assets/image/w17.png" width="130" height="100" class="circle" alt="">
        <div class='row'>
          <div class='col s12'>
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">account_circle</i>
        <input placeholder="UserCode" type="text" name="userCode" [(ngModel)]="user.userCode">
          </div>
        </div>
        <div class='row'>
          <div class='input-field col s12'>
            <i class="material-icons prefix">lock</i>
    <input placeholder="password" Password input type="password" name="userPwd" [(ngModel)]="user.userPwd">
          </div>
          <label style='float: right;'>
                            <a class='green-text' href='#!'><b>Forgot Password?</b></a>
                        </label>
        </div>
        <a href="http://www.gmail.com">Create account</a>
        <br/>
        <br/>
            <div class='row'>
          <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="parallax"><img src="assets/image/w22.jpg"id="background"></div>
