<nav class="grey darken-4">
  <div class="nav-wrapper">
    <img src="assets/image/w4.png" width="80px" height="55px" class="circle" alt="" id="img">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href="#!">Issue</a>
      </li>
      <li>
        <a href="#!">Project</a>
      </li>
      <li>
        <a href="#!">PIC</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="col 12 m12 s12 clearfix">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Criteria." title="Type in a name">
  </div>
</div>



<div class="col 12 m12 s12 clearfix" id="clearfix">

  <ul class="row produktliste">
    <li class="col 12 m12 s12 clearfix">
      <div class="card">
        <div>
          <img src="assets/image/w4.png" width="150px" height="120px">
        </div>
        <div class="card-content">
          <a class="btn-floating btn-large waves-effect waves-light yellow" id="a">
            <i class="material-icons">edit</i>
          </a>
          <h6>
            <b>Issue 533</b>:ซ่อน-รายละเอียด-ประโยชน์</h6>
          <h6>
            <b>วันที่</b>:28/11/2018</h6>
          <h6>
            <b>สถานะ</b>:open</h6>
        </div>
        <div class="card-action row">
          <i class="material-icons">delete</i>REMOVE
          <i class="material-icons" id="icon">attach_file</i>ATTACH
        </div>
      </div>
    </li>
  </ul>



  <ul class="row produktliste">
    <li class="col 12 m12 s12 clearfix">
      <div class="card">
        <div>
          <img src="assets/image/w4.png" width="150px" height="120px">
        </div>
        <div class="card-content">
          <a class="btn-floating btn-large waves-effect waves-light yellow" id="a">
            <i class="material-icons">edit</i>
          </a>
          <h6>
            <b>Issue 531</b>:หลังจากค้นหาเสร็จแล้ว..</h6>
          <h6>
            <b>วันที่</b>:24/11/2017</h6>
          <h6>
            <b>สถานะ</b>:open</h6>
        </div>
        <div class="card-action row">
          <i class="material-icons">delete</i>REMOVE
          <i class="material-icons" id="icon">attach_file</i>ATTACH
        </div>
      </div>
    </li>
  </ul>



  <ul class="row produktliste">
    <li class="col 12 m12 s12 clearfix">
      <div class="card">
        <div>
          <img src="assets/image/w4.png" width="150px" height="120px">
        </div>
        <div class="card-content">
          <a class="btn-floating btn-large waves-effect waves-light yellow" id="a">
            <i class="material-icons">edit</i>
          </a>
          <h6>
            <b>Issue 533</b>:ใส่วันเรียนเป็น24-26Jan2..</h6>
          <h6>
            <b>วันที่</b>:24/11/2017</h6>
          <h6>
            <b>สถานะ</b>:open</h6>
        </div>
        <div class="card-action row">
          <i class="material-icons">delete</i>REMOVE
          <i class="material-icons" id="icon">attach_file</i>ATTACH
        </div>
      </div>

    </li>
  </ul>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large green">
    <i class="material-icons">add</i>
  </a>
</div>
<div class="parallax">
  <img src="assets/image/w22.jpg" id="background">
</div>




<!-- wlmobiles
  <nav class="grey darken-4">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <i class="material-icons prefix">wifi</i>
      </li>
      <li>
        <i class="material-icons prefix">rss_feed</i>
      </li>
      <li>
        <i class="material-icons prefix">battery_charging_full</i>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <img src="assets/image/w23.jpg" width="150" height="100" class="circle" alt="">
</div>

<nav class="grey">
  <div class="nav-wrapper">
    <div class="container">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
          <a class="btn-floating disabled">
            <i class="material-icons">add</i>
          </a>
        </li>
        <li>
          <i class="material-icons">chevron_right</i>
        </li>
        <li>
          <a class="btn-floating disabled">
            <i class="material-icons">add</i>
          </a>
        </li>
        <li>
          <h4>กรอกข้อมูล เพื่อสมัคร</h4>
        </li>
        <li>
          <i class="material-icons">chevron_right</i>
        </li>
        <li>
          <a class="btn-floating disabled">
            <i class="material-icons">add</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h3>สินเชื่อ</h3>
</div>

<div class="container">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">attach_money</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">จำนวนเงินที่ต้องการ:</label>
        </div>
      </div>
    </form>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">access_time</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">ระยะเวลา (งวด):</label>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <h3>ข้อมูลลูกค้า</h3>
</div>

<div class="container">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</div>

<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">wc</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">คำนำหน้าชื่อ:</label>
        </div>
      </div>
    </form>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_box</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">ชื่อ:</label>
        </div>
      </div>
    </form>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">สกุล:</label>
        </div>
      </div>
    </form>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">call</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">โทรศัพท์มือถือ:</label>
        </div>
      </div>
    </form>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">rowing</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">อาชีพ:</label>
        </div>
      </div>
    </form>

    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">attach_money</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">รายได้/เดือน:</label>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
  <button type='submit' class='col s6 btn btn-large waves-effect indigo' id="one">
    <h5>ย้อนกลับ</h5>
  </button>
  <button type='submit' class='col s6 btn btn-large waves-effect cyan' id="two">
    <a href="#!" routerLink="/pic2">
      <h5>ถัดไป</h5>
    </a>
  </button>
</div>

<br/>
<br/>
<br/>

<footer class="page-footer  blue-grey darken-4">
  <div class="footer-copyright">
    <div class="container">
      <a class="btn-floating btn-large waves-effect waves-light green" href="http://localhost:4200/home" id="reply">
        <i class="material-icons">reply</i>
      </a>
    </div>
    <div class="container">
      <a class="btn-floating btn-large waves-effect waves-light green" href="http://localhost:4200/home" id="home">
        <i class="material-icons">home</i>
      </a>
    </div>
    <div class="container">
      <a class="btn-floating btn-large waves-effect waves-light green" href="http://localhost:4200/home" id="filter_none">
        <i class="material-icons">filter_none</i>
      </a>
    </div>
  </div>
</footer> -->
