


.form-control {
  background-color: red;
 }







/* materlize
#img{
  margin-left: 200px;
  margin-top: 3px;
}
button {
  color: aliceblue;
  margin-left: 15px;
} */



/* wlmobiles
img{
  margin-top: 7px;
}

#reply{
  margin-left: 40px;
}
#home{
  margin-left: 40px;
}
#filter_none{
  margin-left: 50px;
} */
