<div class="container">
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s4 form_group">
          <label>Project</label>
        <input placeholder="Placeholder" id="first_name" type="text" class="browser-default form-control">
      </div>
    </div>
  </form>
</div>
</div>

<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="input-field col s4">
        <select>
          <option value="" disabled selected>PnP Solution</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
        <label>Project</label>
      </div>
    </form>
  </div>
</div>










<!-- materlize
  <nav class="grey darken-4">
    <div class="nav-wrapper">
      <img src="assets/image/w4.png" width="80px" height="55px"class="circle" alt=""id="img">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!">Issue</a></li>
        <li><a href="#!">Project</a></li>
        <li><a href="#!">PIC</a></li>
      </ul>
    </div>
  </nav>


<div class="container">
  <div class="row">
    <form class="col s12">
      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>PnP Solution</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
        <label>Project</label>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Issue Date</label>
              </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Issue Bye</label>
              </div>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Change Request</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
        <label>Type</label>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Anon Thaicharoenporn</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
          <label>PIC</label>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>High</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
          <label>Priority</label>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>Open</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
        </select>
          <label>Status</label>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Target Date</label>
              </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Module</label>
              </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Close Date</label>
              </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <h6>ซ่อน</h6>
            <h6>-รายละเอียด</h6>
            <h6>-ประโชยน์ที่ได้รับ</h6>
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Description</label>
              </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
            <label for="first_name">Solution</label>
              </div>
            </div>
          </form>
        </div>
      </div>
        <br>
      <button class="btn cyan darken-1">BACK</button>
      <button class="btn cyan darken-1">SAVE</button> -->






<!-- wlmobiles
  <nav class="grey darken-4">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <i class="material-icons prefix">wifi</i>
      </li>
      <li>
        <i class="material-icons prefix">rss_feed</i>
      </li>
      <li>
        <i class="material-icons prefix">battery_charging_full</i>
      </li>
    </ul>
  </div>
</nav>


<div class="container">
  <img src="assets/image/w23.jpg" width="150" height="100" class="circle" alt="">
</div>

<div class="container">
  <div class="slider">
    <ul class="slides">

      <li>
        <img src="assets/image/w24.jpg">

        <div class="caption right-align">
          <h3 class="red-text">สินเชื่อ จำนำเล่ม</h3>
        </div>
      </li>
      <li>
        <img src="assets/image/w25.jpg">

        <div class="caption right-align">

        </div>
      </li>

    </ul>
  </div>
</div>

<div class="container">
  <div class='row'>
    <button type='submit' name='btn_login' class='col s6 btn btn-large waves-effect indigo'>
      <a href="#!" routerLink="/issue1">
        <h5>คำนวณ ราคารถ / สมัครเลย</h5>
      </a>
    </button>

  </div>
</div>

<div class="progress">
  <div class="indeterminate"></div>
</div>


<div class="container">
  <h4>เงินสดพร้อมใช้ อนุมัติรวดเร็วภายใน 30 นาที</h4>
  <h4>...etc...</h4>
</div>




<div class="container">
  <div class='row'>
    <button type='submit' name='btn_login' class='col s6 btn btn-large waves-effect waves-light red'>
      <i class="material-icons">assignment_ind</i>
    </button>
    <button type='submit' name='btn_login' class='col s6 btn btn-large waves-effect waves-light blue'>
      <i class="material-icons">assignment</i>
    </button>
  </div>
</div>



<footer class="page-footer  blue-grey darken-4">
  <div class="footer-copyright">
    <div class="container">
      <a class="btn-floating btn-large waves-effect waves-light green" href="http://localhost:4200/home" id="reply">
        <i class="material-icons">reply</i>
      </a>
    </div>
    <div class="container">
      <a class="btn-floating btn-large waves-effect waves-light green" href="http://localhost:4200/home" id="home">
        <i class="material-icons">home</i>
      </a>
    </div>
    <div class="container">
      <a class="btn-floating btn-large waves-effect waves-light green" href="http://localhost:4200/home" id="filter_none">
        <i class="material-icons">filter_none</i>
      </a>
    </div>
  </div>
</footer> -->
