<nav class="grey darken-4">
  <div class="nav-wrapper">
    <img src="assets/image/w4.png" width="80px" height="55px"class="circle" alt=""id="img">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#!">Issue</a></li>
      <li><a href="#!">Project</a></li>
      <li><a href="#!">PIC</a></li>
    </ul>
  </div>
</nav>

<div class="container">
<div class="row">
  <form class="col s12">
    <div class="input-field col s8">
      <input placeholder="Pic Code" UserCode input type="text" />
    </div>
<div>
<form>
<div class="row">
  <form class="col s12">
    <div class="input-field col s8">
      <input placeholder="Pic Name" UserCode input type="text" />
    </div>
<div>
<form>
<div class="row">
  <form class="col s12">
    <div class="input-field col s8">
      <input placeholder="Pic Value" UserCode input type="text" />
    </div>
  </form>
</div>

  <br>
  <br>
  <br>
  <button class="btn cyan darken-1">BACK</button>
  <button class="btn cyan darken-1">SAVE</button>
  <div class="parallax"><img src="assets/image/w22.jpg"id="background"></div>




  <!-- wlmobiles
    <nav class="grey darken-4">
    <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><i class="material-icons prefix">wifi</i></li>
                    <li><i class="material-icons prefix">rss_feed</i></li>
                    <li><i class="material-icons prefix">battery_charging_full</i></li>
            </ul>
    </div>
</nav>

<div class="container">
    <img src="assets/image/w23.jpg" width="150" height="100" class="circle" alt="">
</div>


<nav class="grey">
    <div class="nav-wrapper">
            <div class="container">
                    <ul id="nav-mobile" class="left hide-on-med-and-down">
                            <li><a class="btn-floating disabled"><i class="material-icons">add</i></a></li>
                            <li><i class="material-icons">chevron_right</i></li>
                            <li><a class="btn-floating disabled"><i class="material-icons">add</i></a></li>
                            <li><h4>กรอกข้อมูล เพื่อสมัคร</h4></li>
                            <li><i class="material-icons">chevron_right</i></li>
                            <li><a class="btn-floating disabled"><i class="material-icons">add</i></a></li>
                    </ul>
            </div>
    </div>
</nav>

<div class="container">
    <h3>รายละเอียดรถ</h3>
</div>

<div class="container">
<div class="progress">
    <div class="indeterminate"></div>
</div>
</div>

<div class="container">
<div class="row">
<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">date_range</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">วันที่จดทะเบียน:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">dvr</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">เลขทะเบียน:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">explore</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">จังหวัด:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">fiber_dvr</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">ยี่ห้อรถ:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
        <i class="material-icons prefix">drive_eta</i>
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">รุ่นรถ:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">format_color_fill</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">สีรถ:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">attach_money</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">เลขตัวรถ:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">timer_10</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">เลขเครื่องยนต์:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <i class="material-icons prefix">network_check</i>
      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
      <label for="icon_prefix2">เลขไมล์:</label>
    </div>
  </div>
</form>

<form class="col s12">
  <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">replay_30</i>
        <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
        <label for="icon_prefix2">วันครบกำหนดภาษี:</label>
      </div>
  </div>
</form>
  </div>
</div>

<div class="container">
<button  type='submit'  class='col s6 btn btn-large waves-effect indigo' id="one"><a href="#!" routerLink="/issue"><h5>ย้อนกลับ</h5></a></button>
<button  type='submit'  class='col s6 btn btn-large waves-effect cyan'id="two"><a href="#!" routerLink="/pic4"><h5>ถัดไป</h5></a></button>
</div>

<br/>
<br/> -->

