<nav class="grey darken-4">
  <div class="nav-wrapper">
                  <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                  <ul class="side-nav" id="mobile-demo">
                      <li> <img src="assets/image/w17.png" width="200" height="200" class="circle" alt=""></li>
                      <li><a href="#!name"><span class="brown-text name">Werachai Kokrnot</span></a></li>
                      <li><a href="http://www.gmail.com"><span class="green-text email">werachai0701@gmail.com</span></a></li>
                      <li><a href="#!" routerLink="/home">app-home</a></li>
                      <li><a href="#!" routerLink="/login1">Login 1</a></li>
                      <li><a href="#!" routerLink="/login2">Login 2</a></li>
                      <li><a href="#!" routerLink="/issue">issue</a></li>
                      <li><a href="#!" routerLink="/issue1">issue 1</a></li>
                      <li><a href="#!" routerLink="/issue2">issue 2</a></li>
                      <li><a href="#!" routerLink="/pic2">pic 2</a></li>
                      <li><a href="#!" routerLink="/pic4">pic 4</a></li>
                      <li><a href="#!" routerLink="/project2">project 2</a></li>
                      <li><a href="#!" routerLink="/project3">project 3</a></li>
                      <div class="parallax"><img src="assets/image/w22.jpg"id="background"></div>
                  </ul>
          <img src="assets/image/w4.png" width="80px" height="55px" class="circle" alt="" id="img">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li>
                          <a href="#!" routerLink="/home">app-home</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/login1">Login 1</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/login2">Login 2</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/issue">issue</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/issue1">issue 1</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/issue2">issue 2</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/pic2">pic 2</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/pic4">pic 4</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/project2">project 2</a>
                  </li>
                  <li>
                          <a href="#!" routerLink="/project3">project 3</a>
                  </li>
          </ul>
  </div>
</nav>

<div class="container">
<div class="slider">
  <ul class="slides">
          <li>
                  <img src="assets/image/w15.jpg">
                  <!-- random image -->
                  <div class="caption center-align">
                          <h5>Powerful Existence In The World Of Online</h5>
                          <h6>WEB DESIGNING@DEVELOPMENT</h6>
                  </div>
          </li>
          <li>
                  <img src="assets/image/w14.jpg">
                  <!-- random image -->
                  <div class="caption right-align">
                          <h3>Applelnsider ios App</h3>
                          <h5>iPad # iPhone</h5>
                  </div>
          </li>
          <li>
                  <img src="assets/image/w13.jpg">
                  <!-- random image -->
                  <div class="caption right-align">
                          <h3>Right Aligned Caption</h3>
                          <h5>Mobile App</h5>
                  </div>
          </li>
          <li>
                  <img src="assets/image/w12.jpg">
                  <!-- random image -->
                  <div class="caption left-align">
                          <h3>FUN LIFE</h3>
                          <h5>ipone # ipad</h5>
                  </div>
          </li>
  </ul>
</div>
</div>


<section class="section center grey lighten-2" id="services">
  <h2>Our Services</h2>
  <div class="container">
          <div class="row">
              <div class="col s12 m4">
                          <i class="large material-icons">important_devices</i>
                          <h5>Desktop Development</h5>
                          <h6>Get guidance, reference info, tutorials, and code examples to help you build your application, whether it’s brand new or ported from another platform.</h6>
                  </div>
          <div class="col s12 m4">
                          <i class="large material-icons">developer_mode</i>
                          <h5>Mobile Development</h5>
                          <h6>Automate the lifecycle of your iOS, Android, Windows, and macOS apps. Connect your repo and within minutes build in the cloud, test on thousands of real devices, distribute to beta testers and app stores, and monitor real-world usage with crash and analytics data. All in one place.</h6>
                  </div>
          <div class="col s12 m4">
                          <i class="large material-icons">settings_ethernet</i>
                          <h5>Web Development</h5>
                          <h6>Welcome to the MDN Learning Area. This set of articles aims to provide complete beginners to web development with all they need to start coding simple websites.</h6>
                  </div>
          </div>
  </div>
</section>

<section class="section center" id="team">
  <div class="parallax-container valign-wrapper">
          <div class="container valign">
                  <h2>Team</h2>
                  <div class="row">
                          <div class="col s12 m3">
                                  <img src="assets/image/w17.png" width="200" height="200" class="circle" alt="">
                                  <h3 class="text-color red">บอล</h3>
                                  <span>Web Designer</span>
                          </div>
                          <div class="col s12 m3">
                                  <img src="assets/image/w18.jpg" width="200" height="200" class="circle" alt="">
                                  <h3 class="text-color green">หม่ำ</h3>
                                  <span>Web Development</span>
                          </div>
                          <div class="col s12 m3">
                                  <img src="assets/image/w19.jpg" width="200" height="200" class="circle" alt="">
                                  <h3 class="text-color blue">เท่ง</h3>
                                  <span>Mobile Development</span>
                          </div>
                          <div class="col s12 m3">
                                  <img src="assets/image/w20.png" width="200" height="200" class="circle" alt="">
                                  <h3 class="text-color white">โหน่ง</h3>
                                  <span>Desktop Designer</span>
                          </div>
                  </div>
          </div>
          <div class="parallax"><img src="assets/image/w16.jpg" width="200" height="200" class="responsive-img">
          </div>
  </div>
</section>






















<!-- <div class="parallax-container">
  <div class="parallax"><img src="assets/image/w11.gif"></div>
</div>
  <div class="section white">
          <div class="row container">
  </div>
</div> -->
<!-- <b class="p1">
          <img src="assets/image/w2.jpg"width="200px" height="150px">
<br/> -->

<!-- <button routerLink="/home">app-home</button><i class="material-icons prefix">account_balance</i><br/><br/>
<button routerLink="/login1" >Login 1</button><i class="material-icons prefix">accessibility</i><br/><br/>
<button routerLink="/login2" >Login 2</button><i class="material-icons prefix">accessible</i><br/><br/>
<button routerLink="/issue" >issue</button><i class="material-icons prefix">airline_seat_recline_extra</i><br/><br/>
<button routerLink="/issue1" >issue 1</button><i class="material-icons prefix">airline_seat_recline_normal</i><br/><br/>
<button routerLink="/issue2" >issue 2</button><i class="material-icons prefix">directions_walk</i><br/><br/>
<button routerLink="/pic2" >pic 2</button><i class="material-icons prefix">directions_run</i><br/><br/>
<button routerLink="/pic4" >pic 4</button><i class="material-icons prefix">directions_bike</i><br/><br/>
<button routerLink="/project2" >project 2</button><i class="material-icons prefix">rowing</i><br/><br/>
<button routerLink="/project3" >project 3</button><i class="material-icons prefix">transfer_within_a_station</i><br/><br/> -->

<!-- <div class="carousel">
                  <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></a>
                  <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></a>
                  <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></a>
                  <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></a>
                  <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></a>
                </div> -->


<!-- <div class="parallax-container">
  <div class="parallax">
  <img src="assets/image/w7.jpg">
  </div>
</div> -->


<div class="video-container">
  <iframe width="200" height="200" src="//www.youtube.com/embed//13DOUHwH-iM" frameborder="0" allowfullscreen></iframe>
</div>


<footer class="page-footer  blue-grey darken-4">
  <div class="container">
          <div class="row">
                  <div class="col l6 s12">
                          <h3 class="black-text">Wezaball Content</h3>
                          <h1>FUCK YOU!!!!!!!!!!!!!!!</h1>
                  </div>
                  <div class="col l4 offset-l2 s12">
                          <h5 class="white-text">Links</h5>
                          <ul>
                                  <li>
                                          <a class="grey-text text-lighten-3" href="https://www.google.com">google</a>
                                  </li>
                                  <li>
                                          <a class="grey-text text-lighten-3" href="https://www.youtube.com">youtube</a>
                                  </li>
                                  <li>
                                          <a class="grey-text text-lighten-3" href="https://www.facebook.com">facebook</a>
                                  </li>
                                  <li>
                                          <a class="grey-text text-lighten-3" href="http://www.materializecss.com">materializecss</a>
                                  </li>
                          </ul>
                  </div>
          </div>
  </div>
  <div class="footer-copyright">
          <div class="container">
                  ? 2018 Copyright Text
                  <a class="grey-text text-lighten-4 right" href="http://localhost:4200/home">More Links</a>
          </div>
  </div>
</footer>
