.p1 {
  margin: 250px;
}
table {
  margin-left: 200px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
  color: cyan;
}
button {
  padding: 7px 130px;
}
i{
  color: rgb(241, 67, 55);
  font-size: 15rem;

}
h4{
    text-align: center;
}




/*wlmobiles
img{
  margin-top: 7px;
}
#reply{
  margin-left: 40px;
}
#home{
  margin-left: 40px;
}
#filter_none{
  margin-left: 50px;
}


h1{
font-family: 'Faster One', cursive;
} */
